@import '~antd/dist/antd.css';


.topbar{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid black;
}
.topbar-loginlink {
}
.sidepane-menu {
    display: block;
    float: left;
    width: 20%;
}
.Content-Class {
    display: block;
    float: left;
}
.hide-client-alert {
    display:none;
}